<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<title>筹码分布</title>
</head>
<body>
	<div id="app">
		<!-- 配置项 -->
		<div style="margin: 40px 10% 40px 10%;">
			<el-row>
				<el-col :span="8">
					<el-upload
						class="upload-demo"
						drag
						action="/upload_excel"
						:on-success="uploadExcelSuccess"
						multiple>
						<i class="el-icon-upload"></i>
						<div class="el-upload__text">将xlsx文件拖到此处，或<em>点击上传</em></div>
					</el-upload>
				</el-col>
				<el-col :span="16">
					<el-tag>公司</el-tag>
					<el-select v-model="selectedCompany" filterable placeholder="请选择">
						<el-option
							v-for="company in companies"
							:key="company.value"
							:label="company.label"
							:value="company.value">
						</el-option>
					</el-select>
					<el-tag>对比指标</el-tag>
					<el-select v-model="selectedQuotas" placeholder="请选择">
						<el-option
							v-for="quota in quotas"
							:key="quota.value"
							:label="quota.label"
							:value="quota.value">
						</el-option>
					</el-select>
					<el-button type="primary" @click="getStockChipData">获取数据</el-button>
					<el-button type="primary" @click="shutdownServer">关闭服务</el-button>
				</el-col>
			</el-row>
		</div>

		<!-- 图表 -->
		<div id="main" style="margin: 40px 10% 40px 10%; width: 80%; height: 800px;"></div>
	</div>
</body>

<script src="./static/js/vue.js"></script>
<script src="./static/js/element-ui-index.js"></script>
<script src="./static/js/axios.min.js"></script>
<script src="./static/js/echarts.min.js"></script>
<script>
new Vue({
	el: '#app',
	data: function() {
		return {
			companies: [],
			selectedCompany: '',
			quotas: [
				{
					value: 'close',
					label: '收盘价'
				},{
					value: 'quote_change',
					label: '涨跌幅'
				}, {
					value: 'turnover_rate',
					label: '换手率'
				}
			],
			selectedQuotas: '',
			mainChart: null,
			dateList: [],
			concentrationList: [],
			// 参考值
			referenceList: []
		}
	},
	mounted() {
		this.getAllConpanies();
	},
	methods: {
		getAllConpanies() {
			var that = this;
			axios.get('/company')
				.then(function (response) {
					if (response.status == 200) {
						that.companies = [];
						response.data.companies.forEach(item => {
							that.companies.push({
								value: item.name,
								label: item.name
							})
						});
					}
				})
				.catch(function (error) {
					console.log(error);
				});
		},
		
		getStockChipData() {
			var that = this;
			if (this.selectedCompany=='' || this.selectedQuotas == '') {
				alert("请选择好配置！！！");
				return
			}
			
			axios.get('/stock_info?company=' + this.selectedCompany)
				.then(function (response) {
					if (response.status == 200) {
						that.dateList = [];
						that.concentrationList = [];
						that.referenceList = [];

						response.data.stock_infos.forEach(item => {
							that.dateList.push(item.date.substring(0, 10));
							that.concentrationList.push(item.concentration);
							if (that.selectedQuotas == "close") {
								that.referenceList.push(item.close)
							} else if (that.selectedQuotas == "quote_change") {
								that.referenceList.push(item.quote_change)
							} else if (that.selectedQuotas == "turnover_rate") {
								that.referenceList.push(item.turnover_rate)
							}
						});

						that.getMainChartData();
					}
				})
				.catch(function (error) {
					console.log(error);
				});
		},

		getMainChartData() {
			this.mainChart = echarts.init(document.getElementById('main'));
			// 指定图表的配置项和数据
			var option = {
				title: {
					text: '筹码分布'
				},
				tooltip: {
					trigger: 'axis'
				},
				legend: {},
				xAxis: {
					type: 'category',
					boundaryGap: false,
					data: this.dateList
				},
				yAxis: [
					{
						type: 'value',
						name: 'concentration',
						min: 0,
						max: 1
					},
					{
						type: 'value',
						name: 'reference',
						nameLocation: 'start',
						alignTicks: true,
						inverse: true
					}
				],
				dataZoom: [
					{
						type: 'inside',
						start: 80,
						end: 100
					},
					{
						start: 80,
						end: 100
					}
				],
				series: [
					{
						name: 'concentration',
						type: 'line',
						color: ["#0000FF"],
						showSymbol: false,
						data: this.concentrationList
					}, {
						name: this.selectedQuotas,
						type: 'line',
						color: ["#FF0000"],
						smooth: true,
						yAxisIndex: 1,
						showSymbol: false,
						data: this.referenceList
					}
				]
			};

			// 使用刚指定的配置项和数据显示图表。
			this.mainChart.setOption(option);
		},
		
		uploadExcelSuccess() {
			this.getAllConpanies();
		},

		shutdownServer() {
			axios.get('/shutdown')
				.then(function (response) {
					if (response.status == 200) {
						alert("服务关闭成功");
					} else {
						alert("服务关闭失败");
					}
				})
				.catch(function (error) {
					alert(error);
				});
		}
	}
})
</script>

</html>